body{
    background:#111827;
    color:white;
    text-align:center;
    font-family:Arial,sans-serif;
}

#board{
    width:max-content;

    margin:30px auto;

    display:grid;

    grid-template-columns:repeat(9,50px);

    gap:2px;
}

.cell{
    width:50px;
    height:50px;

    background:#374151;

    border:none;

    cursor:pointer;

    font-weight:bold;
    font-size:18px;
}

.cell:hover{
    background:#4b5563;
}

.revealed{
    background:#d1d5db;
    color:black;
}
.revealed{
    background:#d1d5db;
    color:black;
}
.count-1{
    color: blue;
    font-weight: bold;
}

.count-2{
    color: green;
    font-weight: bold;
}

.count-3{
    color: red;
    font-weight: bold;
}

.count-4{
    color: navy;
    font-weight: bold;
}

.count-5{
    color: maroon;
    font-weight: bold;
}

.count-6{
    color: teal;
    font-weight: bold;
}

.count-7{
    color: purple;
    font-weight: bold;
}

.count-8{
    color: gray;
    font-weight: bold;
}